body{
    
    background-image: url("BackgroundC1.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center center;

    
    
}

::-webkit-scrollbar-thumb{
    color: #a18337;
}




li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #846f3b;
}

a:hover{
    color: #e1ae29;
    font-size: 1rem;
}

/*HEADER*/

header{
    position: relative;
    padding: 0 2rem;
}



.navbar{
    width:100%;
    height: 60px;
    max-width: 1200px;
    margin:0 auto ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {

    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    padding: 50px;
}

.navbar .Links{
    padding-left: 500px;
    display: flex;
    gap: 2.8rem;
}

.navbar .toggle_btn{
    color: #846f3b;
    font-size: 1.2rem;
    cursor: pointer;
    pointer-events: painted;
}

.toggle_btn:hover{
    color: #e1ae29;

}

.toggle_btn{
    color: black;
    background-color: #a18337;
    padding: 0.5rem 1rem;
    outline: none;
    border:none;
    border-radius: 20px;


}


.dropdown_menu{
    position: absolute;
    right:2.7rem;
    top: 80px;
    height: 60px;
    width: 250px;
    background: rgba(201, 155, 38, 0.1 ) ; 
    backdrop-filter: blur(150px);
    border-radius: 5px;
    overflow: hidden;
    transition: height .2s cubic-bezier();
}

.dropdown_menu li{
    padding: 1rem;
    padding-right: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.dropdown_menu .toggle_btn{

    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown_menu.open{
    height: 10rem;
}







@media (max-width: 992px){
    .navbar .Links{ 
        display: none;
    }

    .navbar.toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    #hero-text{
        display: block;
    }

}

@media (max-width: 570px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

}

#hero-text{
    color: #d3b463;
    text-align: center;
    position: absolute;
    padding-left: 200px;
    align-self: center;
    top: 200px;

}
#hero-text:hover{
    height: 500px;
    top: 200px;
    padding: 80px;
    padding-bottom: 1rem;
    background: rgba(201, 160, 55, 0.1) ; 
    backdrop-filter: blur(100px);
    border-radius:100 px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);


}



.container{
    padding-top: 3rem;
    display: flex;
    align-content: space-between;  
    justify-content: center ;
    text-align: center;
    
}

.piece1{
    background-color:rgba(201, 155, 38, 0.6);
    width: 250px;
    height: 400px;
    margin: 5px;
    border-radius: 40px;
    padding-bottom: 450px;

}

.piece1:hover{

    backdrop-filter: blur(50px);
    border-radius: 50px;
    transition: height .2s cubic-bezier(0.175, 0.800, 0.32, 1.275);


}

.piece1 .image{

    background-color: rgba(53, 42, 15, 0.729) ;
    height: 350px;
    margin-bottom: 2px;
    border-radius: 40px;
    background-size: cover;
}

.paint1{

    background-image: url('images\\AhappyPlace.jpg');

}

.paint2{

    background-image: url('images\\fromspace.jpg');

}
.paint3{

    background-image: url('images\\NaturalResource.jpg');

}
.paint4{

    background-image: url('images\\nowyouseeUs.jpg');

}
.paint5{

    background-image: url('images\\nowyoudont.jpg');

}
.paint6{

    background-image: url('images\\TohaveaVoice.jpg');

}



